body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:367px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#000000;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:60px;
  width:118px;
  height:35px;
  font-size:20px;
  color:#000000;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  word-wrap:break-word;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:150px;
  width:349px;
  height:25px;
}
#u86_input {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:185px;
  width:349px;
  height:25px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:105px;
  width:300px;
  height:35px;
  font-size:16px;
  color:#000000;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:232px;
  width:80px;
  height:25px;
}
#u89_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:232px;
  width:80px;
  height:25px;
}
#u90_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
